.card {
    display: flex;
    justify-content: space-between;
    background: white;
    margin: 16px 8px;
    padding: 8px;
    border: 1px solid rgba(225, 225, 225, 0.835);
    border-radius: 12px;
    
}

img {
    width: 150px;
    margin: 4px;
}

.counter {
    display: flex;
}

.deleteBtn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btnChangeAmount {
    width: 32px;
    height: 32px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(238, 236, 237);
    border: rgb(179, 178, 179);
    border-radius: 4px;
    margin: 0 4px;

}
.btnChangeAmount img {
    width: 14px;
}