.container {
    display: flex;
    flex-direction: column;
    height: 600px;

}

.cartTab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.leftPart {
    width: 68%;
    
}

.leftPart h5 {
    width: 50%;
}

.rightPart {
    width: 30%;
}

.rightPart h5 {
    text-align: center;
    margin-bottom: 30px;
}


.upperPanel {
    display: flex;
    align-items: center;
    padding-left: 9px;
}

.upperPanel button {
    margin: 0 30px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


.total {
    display: flex;
    justify-content: space-between;
}

.orderContainer {
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    font-family: 'Raleway', sans—serif;
    color: #fff;
    height: 40px;
    padding: 0 16px;
    margin: 8px 0px;
    background-color: #23a030;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 26px rgb(52 213 68 / 22%);
    
  }

.emptyCartWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.linksWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link button {
    margin: 20px 30px;
    padding: 15px;
    border-radius: 15px;
    font-size: larger;
    border: none;
    background-color: rgba(179, 3, 88, 0.34);
    cursor: pointer;
    
}