.cardWrapper {
    background: white;
    margin: 16px 8px;
    border: 1px solid rgba(225, 225, 225, 0.835);
    border-radius: 12px;
    color:black
}

.cardWrapper span {
    margin: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 4px 16px;
    width: 210px;
   
}


.icon {
    font-size: 24px;
    color: rgba(199, 0, 60, 0.487);
    margin: 2px;
    position: absolute;
	left: 185px;
	top: 4px;
}

.icon:hover {
    font-size: 25px;
    color: rgba(199, 0, 60, 0.971);

}

.pic {
margin: 16px 0;
border-radius: 15px;
width: 210px;
} 

.btnAdd {
  font-family: 'Raleway', sans—serif;
  color: #fff;
  height: 40px;
  padding: 0 16px;
  margin: 8px 0px;
  background-color: #23a030;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 26px rgb(52 213 68 / 22%);
}

.btnDelete {
    font-family: 'Raleway', sans—serif;
    color: #fff;
    height: 40px;
    padding: 0 16px;
    margin: 8px 0px;
    background-color: #db6060;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 26px rgba(250, 87, 87 / 22%);
  }

.btnAdd:hover {
    background-color: #379440;
    box-shadow: 0 6px 26px rgba(52, 213, 68, 0.46);
  }

.btnDelete:hover {
background-color: #e10000;
box-shadow: 0 6px 26px rgba(250, 87, 87, 0.46);
}  