.iconLogo {
font-size: 58px;
color:rgb(179, 3, 88);
margin: 0 4px;

}

.store {
    color: rgb(179, 3, 88);
    margin: 0 4px;
}
.catalog {
    color: rgb(179, 3, 88);
}

  
a {
    text-decoration: none;
}

.iconCart {
    font-size: 32px;
    color:rgb(66, 141, 246);
    margin: 0 6px;
    
    }
