.searchBar {
border-color: rgb(174, 174, 174);
border-radius: 8px;
border: 1px solid rgb(179, 178, 178);
height: 38px;
margin: 2px 3px 0 0;

}
.btn {
    font-family: 'Raleway', sans—serif;
    color: #fff;
    height: 38px;
    padding: 0 16px;
    margin: 0 3px;
    background-color: #8c8c8c;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.icon {
font-size: 58px;
color:rgb(1, 159, 72)

}

.btn:hover {
    background-color: rgb(169, 167, 167);
}
  
.searchBar:focus {
    border: 2px solid rgb(0, 166, 255);
}

h1, h2 {
    color:black
}

a {
    text-decoration: none;
}
