.searchBar {
    border-color: rgb(174, 174, 174);
    border-radius: 8px;
    border: 1px solid rgb(179, 178, 178);
    height: 38px;
    margin: 0 3px;
}

/* .searchBar:focus {
    border: 2px solid rgb(0, 166, 255);
} */